* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    min-height: 70px;
    background-color: rosybrown;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img{
height: 50px;
margin-right: 10px;
}
header .nav-links{
    list-style: none;
}
header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
nav a:hover{
    color: pink;
}

@media (max-width:700px){
header{
flex-direction: column;
}
nav{
    padding: 10px 0px;
}
}